.add-option-error
  color off-white
  font-style italic
  margin m-size 0 0 0
  padding 0 m-size

.add-option
  display flex
  padding m-size
  @media (max-width: 45rem)
    flex-direction column
  
  .add-option__input
    background-color dark-blue
    border-bottom .3rem solid darken(dark-blue, 10%)
    color off-white
    flex-grow 1
    margin-right s-size
    padding s-size
    @media (max-width: desktop-breakpoint)
      margin-bottom s-size
      margin-right 0
