.big-button
  background-color dark-purple
  border-bottom .6rem solid darken(dark-purple, 10%)
  color white
  font-size l-size
  font-weight bold
  margin-bottom xl-size
  padding 2.4rem
  width 100%
  @media (max-width: desktop-breakpoint)
    margin-bottom m-size
  
  &:disabled
    opacity .5

.button
  background-color dark-purple
  border-bottom .3rem solid darken(dark-purple, 10%)
  color white
  font-weight 500
  padding s-size

  &.button--link
    background-color transparent
    border-bottom 0
    color off-white
    padding 0