.ReactModalPortal
  
  .ReactModal__Overlay
    align-items center
    display flex
    justify-content center
    opacity 0
    transition opacity .2s ease-in-out

    &.ReactModal__Overlay--after-open
      opacity 1
    
    &.ReactModal__Overlay--before-close
      opacity 0
    
    .modal
      background-color lighter-blue
      color white
      max-width 30rem
      padding l-size
      text-align center
    
    .modal__title
      margin 0 0 m-size 0

    .modal__body
      font-size 2rem
      font-weight 300
      margin 0 0 l-size 0
      word-break break-all

