// Widget
.widget
  background-color lighter-blue
  margin-bottom xl-size

  .widget__message
    border-bottom .1rem solid lighten(lighter-blue, 10%)
    color off-white
    margin 0
    padding l-size
    text-align center

// Widget header
.widget-header
  background-color light-blue
  color off-white
  display flex
  justify-content space-between
  padding m-size
  
  .widget-header__title
    margin 0